// Variables
// Sizes
$website-width: 1280px;

// Colors
$main-color: #ffbc00;
$light-color: #f4f4f4;
$medium-color: #ccc;
$dark-color: #333;
$white-color: #fff;

// Extra
$bg-image: url("../img/showcase.jpg");

// Functions
@function set-text-color($bg-color) {
  @if (lightness($bg-color) > 50) {
    @return #333;
  } @else {
    @return #fff;
  }
}
